<h1 id="tomato-plant-segmentation-dataset">Tomato Plant segmentation dataset</h1>
<p>scrapped images of tomato plant for pixelwise prediction networks</p>
<h2 id="download-commands">download commands</h2>
<p>I used a list and <code>wget</code> command for downloading the images, used <code>-i urls.txt</code> for specifying a list file, <code>-nc</code> for specifying not downloading repeated files and <code>-t 3</code> for specifying just retry 3 times.</p>
<pre><code>wget -i urls.txt -nc -t 3</code></pre>
<h2 id="selecting-images">selecting images</h2>
<p>I tried to select images of plants of tomato in agricultural scenes, deleting all the images of tomato cooking, also deleted drawing of tomato.</p>
<h2 id="labels">labels</h2>
<p>I just labeled two clases, using <code>labelme</code> software,</p>
<ul class="incremental">
<li>background class</li>
<li>foliage class</li>
<li>tomato class</li>
</ul>
<p>foliage includes all the tomato that are not ripe enough.</p>
<h2 id="examples">examples</h2>
<p><img src="labels1.png" alt="labeled 1" /> <img src="labels2.png" alt="labeled 2" /> <img src="labels3.png" alt="labeled 3" /></p>
<h2 id="folder-structure">Folder Structure</h2>
<pre><code>root/
    class_names.txt
        JPEGImages/
            0.jpg
            1.jpg
            ..
        SegmentationClass/
            0.npy
            1.npy
            ..
        SegmentationClassPNG/
            0.png
            1.png
            ..
        SegmentationClassVisualization/
            0.jpg
            1.jpg
            ..</code></pre>
